#main-navigation
    display: flex
    justify-content: center
    align-items: center

    #mobile-menu-trigger
        // hide on mobile
        cursor: pointer
        border: 2px solid
        padding: 4px 12px

    .nav-list
        display: none
